<!-- Split dropright button -->
<div class="jumbotron k">
<div class="container">
<h1 class="intro">Ustad - Connecting Minds</h1>
<div class="btn-group dropright btn-lg indexbtn">
  <button type="button" class="btn btn-danger">
  Get Started
  </button>
  <button type="button" class="btn btn-danger btn-lg dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropright</span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/students/register">Student</a>
    <a class="dropdown-item" href="/tutors/register">Tutor</a>
  </div>
</div>
</div>
</div>