
<div class='jumbotron'>
	<div class='container'>
		<div class="row">
			<div class="col-sm-6 offset-sm-3">
				<h2>Sorry, page not found!</h2>
				<form method="GET" action="/" class="form-group">
				  <button type="submit" class="btn btn-primary">Home Page</button>
				</form>
			</div>
		</div>
	</div>
</div>